@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --Yellow: #FFBA14;
    --Maroon: #97180c;
    --Red: #FF2D19;
    --Green: #2FC32C;
    --normal-fontcolor:#202B37;
    --light_gray: #97A1AF;
    --navbuttons: #7D7D7D;
    --mainfont: 'Poppins', 'sans-serif';
    --secondfont: 'Inter', 'san-serif';
  }
/* UTILITY CLASS */
.span-normal{
    color: var(--normal-fontcolor);
}
.span-red{
 color: var(--Maroon);
}
.span-yellow{
 color: var(--Yellow);
}
.span-green{
    color: var(--Green);
}
.span-lightred{
    color: var(--Red) 
}
.span-lightgray{
    color: var(--light_gray);
}
/* UTILITY CLASS */
  *{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    font-family: var(--mainfont);
    min-height: 230vh;
}
.side-bar{
  padding: 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;  
  gap: 4rem;
  align-items: center;
  min-width: 200px;
  height: 100%;
}
.side-bar ul{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  list-style: none;
}
.nav-buttons{
  padding: 0.3rem 0.8rem;
  justify-content: center;
  border-radius: 8px;
  transition: all ease 0.3s;
}
.nav-buttons:hover{
  background: rgba(146, 146, 146, 0.205);
}
.nav-buttons a{
  text-decoration: none;
  display: flex; /* Ensure anchor behaves like a flex container */
  align-items: center;
  gap: 8px;
}
.nav-buttons span{
  display: inline-block;
  margin-top: 2px;
}
